@* See also:
    /ViewComponents/Header.cs
    /Views/Example3/Index.cshtml
    /Controllers/Example3Controller.cs
*@

<ext-section target="HeaderViewComponent">
    <ext-component region="North" html="<h1>Header bar</h1>" />
</ext-section>